.button{
    background-color: #24252C;
    color: #FFFFFF;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    padding: 14px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.button:hover{
    background-color: #484A54;
}

