.button{
    background-color: #24252C;
    color: #FFFFFF;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    padding: 14px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.button:hover{
    background-color: #484A54;
}

@media (max-width: 768px) {
    .button {
        display: flex;
        width: 80%;
        margin: 20px auto 0;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
}

