.banner {
    text-align: center;
    width: 100%;
    background-color: #24252C;
}

.banner img {
    width: 45%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .banner img {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .banner img {
        width: 95%;
    }
}